/*
 * File: global.scss
 * Project: aatrox
 * File Created: Wednesday, 3rd November 2021 8:57:46 am
 * Author: Naime Hossain & ui-lib -> https://ui-lib.com/ (support@ui-lib.com)
 * -----
 * Last Modified: Sunday, 23rd October 2022 1:13:52 pm
 * Modified By: Naime Hossain & ui-lib -> https://ui-lib.com/ (support@ui-lib.com>)
 * -----
 * Copyright 2019 - 2022 ui-lib  , ui-lib  ( https://ui-lib.com/ )
 */
 @import url("https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900");
@import '../iconsmind/iconsmind.css';
@import 'components/components';
@import 'apps/apps';

// custom scrollbar
/* width */
// ::-webkit-scrollbar {
//     width: 10px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//     @apply bg-gray-100 dark:bg-dark;
//     border-radius: 0px;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//     @apply bg-gray-500 dark:bg-foreground;
//     border-radius: 0px;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     @apply bg-purple-300 dark:bg-primary;
// }
html {
    height: 100%;
}
body {
    // background-color: #fff;
    @apply bg-white dark:bg-dark text-gray-700;
    min-height: 100%;
    font-family: Nunito, sans-serif !important;
}

.z-1 {
    z-index: 1;
}

.ui-lib-br {
    border-radius: 10px;
}
.ui-lib-shadow {
    box-shadow: 0 4px 20px 1px rgb(0 0 0 / 6%), 0 1px 4px rgb(0 0 0 / 8%);
}
// button components
.btn {
    &.btn-sm {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        font-size: 0.75rem;
        line-height: 1rem;
    }
}
.badge-top-container {
    position: relative;
    span.badge-count {
        position: absolute;
        top: -3px;
        right: 5px;
        padding: 2px 7px;
        font-size: 10px;
        border-radius: 50%;
    }
}

// avatar
.avatar {
    height: 36px;
    width: 36px;
    min-width: 36px;
    min-height: 36px;
}
.avatar-groups {
    display: inline-flex;
    flex-direction: row-reverse;
    img {
        overflow: hidden;
        left: 25px;
        margin-left: -25px;
    }
}

// box-shadows
.custom-box-shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

// checkbox
