@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    h1 {
        font-size: 2.0325rem;
    }
    h2 {
        font-size: 1.626rem;
    }

    h3 {
        font-size: 1.42275rem;
    }
    h4 {
        font-size: 1.2195rem;
    }
    h5 {
        font-size: 1.01625rem;
    }
    h6 {
        font-size: 0.813rem;
    }
}


label{
    animation: moveing 5s linear infinite;
    display: block;
    color: black !important;
}
/* placeholder animation*/
@keyframes moveing {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}